
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: block; /* Initially set all items to be displayed */
}

input[type="text"] {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px;
    cursor: pointer;
}
